fastapi
uvicorn
pydantic_settings
pydantic[email]
PyJWT
passlib
argon2-cffi
python-multipart
bcrypt
asyncpg
sqlalchemy[asyncio]
psycopg2-binary
fastapi-mail
python-jose
groq
google-generativeai
google-cloud-storage
alembic
google-cloud-storage
argon2-cffi
pymupdf
uvicorn[standard]

